<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.crm.dao.UsersMapper">

 	
 	<sql id="sqlWhere">
		<where>
 			<if test="users.us_LoginName !=null and  users.us_LoginName  !=''">
 				and Us_LoginName like "%"#{users.us_LoginName}"%"
 			</if>
 			<if test="minTime !=null and minTime  !=''">
 				and Us_CreateTime &gt;=#{minTime}
 			</if>
 			<if test="maxTime !=null and maxTime  !=''">
 				and Us_CreateTime &lt;=#{maxTime}
 			</if>
 			<if test="users.us_IsLockout !=null and users.us_IsLockout  !=''">
 				and Us_IsLockout=#{users.us_IsLockout}
 			</if>
 		</where>
	</sql>  
 	<update id="updateUsers" parameterType="users">
		update users 
		<set>
			<if test="us_LastLoginTime !=null and us_LastLoginTime !=''">
				Us_LastLoginTime=#{us_LastLoginTime},
			</if>
			<if test="us_PsdWrongNum !=null and us_PsdWrongNum !=''">
				Us_PsdWrongNum=#{us_PsdWrongNum},
			</if>
			<if test="us_IsLockout !=null and us_IsLockout !=''">
				Us_IsLockout=#{us_IsLockout},
			</if>
			<if test="us_LockTime !=null and us_LockTime !=''">
				Us_LockTime=#{us_LockTime},
			</if>
		</set>
		<where>
			<if test="us_Id !=null and us_Id !=''">
				Us_Id=#{us_Id}
			</if>
		</where>
	</update>
	<select id="selectUsersLogin" parameterType="Users" resultType="Users">
		select * from users 
		where us_LoginName=#{us_LoginName}
	</select>
	<select id="selectUsersAll" parameterType="fenye" resultType="users">
		select * from users 
		<include refid="sqlWhere"></include>
		limit #{page},#{pageSize}
	</select>
	<select id="selectUsersCount" parameterType="fenye" resultType="int">
		select count(1) from users 
		<include refid="sqlWhere"></include>
	</select>
	<insert id="insertUsers" parameterType="users">
		insert INTO users(Us_LoginName,Us_PassWord,Us_ProtecEmail,Us_ProtecMtel,us_CreateTime)
		values(#{us_LoginName},#{us_PassWord},#{us_ProtecEmail},#{us_ProtecMtel},#{us_CreateTime})
	</insert>
	<select id="selectUsersByName" parameterType="String" resultType="int">
		select count(1) from users
 		where Us_LoginName=#{usersName}
	</select>
	<select id="selectUsersByEmail" parameterType="String" resultType="int">
		select count(1) from users
		where us_ProtecEmail =#{usersEmail}
	</select>
	<select id="selectUsersByMtel" parameterType="String" resultType="int">
		select count(1) from users
 		where us_ProtecMtel =#{usersMtel}
	</select>
	
	
	<delete id="deleteusers" parameterType="int">
		delete from users 
		where Us_Id=#{usersId}
	</delete>
	<update id="updateUsersPwd" parameterType="users">
		update users set 
		us_PassWord=#{us_PassWord},us_LockTime=#{us_LockTime} 
		where us_Id=#{us_Id}
	</update>
	<update id="updateUsersIsLockout" parameterType="users">
		update users set 
		us_IsLockout=#{us_IsLockout},us_LockTime=#{us_LockTime} 
		where us_Id=#{us_Id}
	</update>
	<update id="updateUsersByNameEmailMtel" parameterType="users">
		update users set 
		us_ProtecEmail=#{us_ProtecEmail},us_ProtecMtel=#{us_ProtecMtel} 
		where us_LoginName=#{us_LoginName}
	</update>

 </mapper>
 